---
import Layout from "$layouts/Layout.astro"
import { getUserRepos } from "$utils/github"

const owner = Astro.params.owner!

const token = Astro.cookies.get("access_token")?.value
if (!token) return Astro.redirect("/")

const userRepos = (await getUserRepos(token)).sort((a, b) =>
	a.name.localeCompare(b.name)
)
---

<Layout title={owner}>
	<div class="flex flex-col">
		<a href={`/${owner}`} class="font-medium text-neutral-500">
			{owner}
		</a>
	</div>
	<div class="flex flex-col">
		{
			userRepos.map((item) => (
				<a href={`/${item.owner.login}/${item.name}`}>
					{item.owner.login != owner && (
						<span class="font-medium">{item.owner.login}</span>
					)}
					{item.name}
					{item.private && " (private)"}
					{item.fork && " (fork)"}
					{item.archived && " (archived)"}
					{item.disabled && " (disabled)"}
				</a>
			))
		}
		<div class="mt-4 text-neutral-500">
			<a
				href="https://github.com/apps/minimal-cms/installations/new"
				class="font-medium"
			>
				Configure access to repositories
			</a>
		</div>
	</div>
</Layout>
